SQL_SA_PASSWORD=QualifyAI_SQL_ChangeMe123!
RABBITMQ_USER=qualifyai
RABBITMQ_PASSWORD=QualifyAI_Rabbit_ChangeMe!
REDIS_PASSWORD=QualifyAI_Redis_ChangeMe!
MONGO_ROOT_USER=qualifyai
MONGO_ROOT_PASSWORD=QualifyAI_Mongo_ChangeMe!
DEMO_ADMIN_PASSWORD=Admin123!
OPENAI_API_KEY=
